$xs:     480px;
$sm:     576px;
$md:     768px;
$lg:     992px;
$xl:     1200px;
$xxl:    1420px;


.col-xs {
  @media only screen and (max-width: $sm) {
    max-width: 50%;
  }
}

.col-xs-4 {
  max-width: 33.33333%;
}