.btn {
  @include btn();
}

.btn-default {
  @include buttonColor($color: #fff);
}

.btn-primary {
  @include buttonColor($primaryButtonColor: $blue-light, $color: $white);
}

.btn-secondary {
  @include buttonColor($primaryButtonColor: $secondary-color, $color: $grey-dark);
}

.btn-green {
  @include buttonColor($primaryButtonColor: $green-color, $color: $white);
}

.btn-grey {
  @include buttonColor($primaryButtonColor: $white, $color: $black);
}

.btn-transparent {
  background-color: transparent;
}

.btn-font-small {
  font-size: .875rem;
}

.btn-font-medium {
  font-size: 1rem;
}

.btn-font-large {
  font-size: 1.2rem;
}

.btn-shadow {
  box-shadow: 0 7px 11px 0 rgba(0,0,0,0.22);
}

.ag-btn-group {
  display: flex;

  @media only screen and (max-width: $lg) {
    display: block;
  }

  &__item {
    padding-right: 1rem;

    &:last-of-type {
      display: none;
    }

    @media only screen and (max-width: $lg) {
      padding-bottom: 1rem;

      &:last-of-type {
        display: block;
      }

      .btn {
        width: 221px;
      }
    }

    &:first-of-type {
      .btn {
        justify-content: center;
      }
    }
  }
}