//
// Agentcis Website Color
//
$blue:                  #3085D3;
$blue-light:            #03A9F4;
$blue-medium:           #2970B3;
$blue-dark:             #0F2238;

$red:                   #E93B3A;
$yellow:                #FDDC3C;
$green:                 #6BBA45;
$white:                 #FFFFFF;
$black:                 #000000;


$primary-color:         $blue;
$secondary-color:       $yellow;
$green-color:           $green;


$font-weight-light:        300 !important;
$font-weight-semi-bold:    500 !important;
$font-weight-normal:       400 !important;
$font-weight-bold:         600 !important;
$font-weight-bolder:       700 !important;

$oxygen-font: 'Oxygen', sans-serif;

//$grey-lighter: #F3F3F3;
$grey-lighter: #F5F5F5;
//$grey-light: #DBDBDB;
$grey-light: #646464;
$grey-medium: #9B9B9B;
//$grey-dark: #423131;
$grey-dark: #333333;
$dark-grey: #777777;
